<!DOCTYPE html>
<!--[if lt IE 7 ]><html dir="ltr" lang="fr-FR" class="no-js ie ie6 lte7 lte8 lte9"><![endif]-->
<!--[if IE 7 ]><html dir="ltr" lang="fr-FR" class="no-js ie ie7 lte7 lte8 lte9"><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="fr-FR" class="no-js ie ie8 lte8 lte9"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="fr-FR" class="no-js ie ie9 lte9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="fr-FR"><!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="blog technique">
<div id="shine">

<div id="header">
{% if page.github_url %}
  <div class="ribbon">
    <a href="{{ page.github_url }}">Fork me on github!</a>
  </div>
{% endif %}
  <div id="header-content" class="container_24">

    <header role="banner" class="grid_6">
      <h1><a href="http://www.carpe-hora.com/" title="Carpe Hora" rel="home">Carpe Hora</a></h1>
    </header>

    <nav id="access" role="navigation" class="prefix_2 grid_16 qlassik green">

    <div class="menu-header">
      <ul id="menu-main" class="menu">
        <li id="menu-item-306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="http://www.carpe-hora.com/">accueil</a></li>
        <li id="menu-item-309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"><a href="http://www.carpe-hora.com/qui-sommes-nous/">L’entreprise</a></li>
        <li id="menu-item-307" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-55 parent menu-item-307"><a href="http://www.carpe-hora.com/blog-technique/">Technique</a></li>
        <li id="menu-item-308" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-308"><a href="http://www.carpe-hora.com/nous-contacter/">Nous contacter</a></li>
      </ul>
    </div>
    </nav><!-- #access -->

<div class="clear"></div>

  </div><!-- #header-content -->
</div><!-- #header -->

<section id="content" role="main">
  <div class="container_24">


    <section id="entries" class="grid_18">
      <div>
        <article class="post type-post status-publish format-standard hentry category-technique tag-linux tag-lvm tag-ovh tag-recuse grid_18 technique">
          <div class="entry-date grid_2">
            <span class="entry-date-day">{{ page.date | date: "%d" }}</span>
            <span class="entry-date-month">{{ page.date | date: "%b" }}</span>
            <span class="entry-date-year">{{ page.date | date: "%Y" }}</span>
          </div>

          <div class="entry-body grid_16">
            <h2 class="entry-title"><a href="http://">{{ page.title }}</a></h2>

          <div class="entry-content">
            {{ content }}
          </div><!-- .entry-content -->

          <footer class="entry-utility">
            <span>Catégorie : </span> <a href="http://www.carpe-hora.com/category/technique/">Publication</a>
          </footer><!-- .entry-utility -->
          </div><!-- .entry-body -->
        </article><!-- #post-## -->
      </div>
    </section>
<section id="sidebar" class="grid_6">
<div id="sidebar_content">
<ul class="xoxo">


<li>
<form role="search" method="get" id="searchform" action="http://www.carpe-hora.com/">
 	<div><label class="screen-reader-text" for="s">Recherche pour:</label>
 	<input placeholder="Search for..." name="s" id="s" type="search">
 	<input id="searchsubmit" value="Recherche" type="submit">
 	</div>
 	</form>          </li>

<li>
<h3>Publications</h3>
<ul>
{% if posts %}
  {% for post in site.posts limit:5 %}
    <li><a href="{{ post.link }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
{% else %}
    <li><a href="http:carpe-hora.github.com" title="Voir toutes nos publications">Retour a la liste</a></li>
{% endif %}
</ul>
</li>
<li>
<h3>Meta</h3>
<ul>
<li><a href="http://www.carpe-hora.com/wp-login.php">Connexion</a></li>
</ul>
</li>

</ul>


</div>
</section>
</div><!-- .container_24 -->
 	</section><!-- #content -->
<footer role="contentinfo" class="content">
<div id="footer" class="container_24">

<a href="http://www.carpe-hora.com/" title="Carpe Hora" rel="home">Carpe Hora</a>

</div><!-- #footer.content-wrapper -->
</footer><!-- footer -->
</div></body></html>
